@media only screen and (max-width: 600px) {
    .header .logo img {
        width: 40%;
    }
    .header .text-logo a h2{
        text-align: center;
        padding-left: 10%;
    }
    .header .text-right {
        display: none;
    }
    .content .mid .logo-centered {
        text-align: center;
    }
    .content .mid .logo-cont {
        width: 60%;
        display: inline;
    }
    .content .left-bar, .content .right-bar {
        display: none;
    }

    .content .mid .logo-bottom-right {
        display: none;
    }
    .content .mid .bottom-content {
        position: relative;
    }
    .content {
        height: auto;
    }
    .content .mid .right-text {
        text-align: center;
    }
    .content .mid .right-text .pasion {
        margin-top: 10%;
        margin-right: 0;
        width: 60%;
        display: inline-grid;
        margin-bottom: 10%;
    }
    .content .mid .right-text .pasion p {
        font-size: 2rem;
        line-height: 2rem;
    }
    .content .mid .bottom-content h3 {
        font-size: 1.2rem;
        margin-top: 15%;
    }
    .content .mid .bottom-content form .form-button {
        margin-top: 2%;
    }

    .footer h4 {
        font-size: .9rem;
        display: block;
        text-align: center;
    }
    .footer h5 {
        font-size: .9rem;
        display: block;
        text-align: center;
    }
    .footer .social-footer {
        text-align: center;
        margin-top: 3%;
    }
    .mid .row {
        margin: 0;
    }

    .header div {
        padding-left: 0;
        padding-right: 0;
    }
}

@media only screen and (min-width: 600px) and (max-width: 767px) { /* tablets */

} 

@media only screen and (min-width: 768px) and (max-width: 991px) { /* landscape tablets */
    .content .mid .logo-cont {
        width: 60%;
    }
    .content .mid .right-text .pasion p {
        font-size: 2rem;
    }
    .content .mid .right-text img {
        width: 70%;
    }
    .footer h4, .footer h5 {
        display: block;
    }
    .content {
        height: calc(100vh - 184px);
    }
} 

@media only screen and (min-width: 992px) and (max-width: 1279px) { /* laptops y pequeñas pantallas */
    .content {
        height: calc(100vh - 184px);
    }
    .footer h4, .footer h5 {
        display: block;
    }
} 