@font-face {
    font-family: 'franklin';
    src: url('../fonts/FranklinGothicHeavy-Italic.ttf');
}
@font-face {
    font-family: 'motserrat';
    src: url('../fonts/MontserratAlternates-Medium.ttf');
}
@font-face {
    font-family: 'geomanis';
    src: url('../fonts/Geomanist-ExtraLight.ttf');
}

/** colors **/
@gold-color: #a68e3c;
@text-color: #000000;
@white: #ffffff;

.header {
    .logo {
        padding-top: .75rem;
        padding-bottom: .75rem;
    }
    .text-logo {
        display: flex;
        align-items: center;
    }
    .text-logo a{
        font-family: 'motserrat';
        color: @text-color;
        text-decoration: none;
    }
    .text-logo h2{
        letter-spacing: calc(100vw * 0.006);
        font-weight: bold;
    }
    .text-right {
        position: relative;
        span {
            position: absolute;
            top: 0;
            right: 0;
        }
        .trama {
            position: absolute;
            bottom: 0;
            right: 5%;
        }
    }
}

.content {
    height: calc(100vh - 153px);
    position: relative;

    .left-bar {
        background: url('../images/barra.png');
        background-color: @text-color;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .mid {
        background: url('../images/bg-content.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding-left: 0;
        padding-right: 0;
        position: relative;

        .top-bg-left {
            background: url('../images/bg-top-left.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 0;
        }

        .top-bg {
            background: url('../images/bg-black.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
        }

        .logo-cont {
            z-index: 1;
            display: block;
            position: relative;
            margin-top: 5%;
            margin-left: 5%;
            width: 50%;
        }

        .logo-bottom-right {
            position: absolute;
            bottom: 3.5%;
            right: -8%;
        }

        .bottom-content {
            position: absolute;
            bottom: 0;
            width: 100%;

            h3 {
                width: 100%;
                background: rgba(166, 142, 60, .9);
                color: @text-color;
                text-align: center;
                font-family: 'geomanis';
                padding-top: 0.5rem;
                padding-bottom: 0.3rem;
                font-size: 1.6rem;
                font-weight: bolder;
                margin-bottom: 3rem;
            }

            form {
                width: 100%;
                text-align: center;
                margin-bottom: 4rem;

                .form-input {
                    font-family: 'geomanis';
                    border: 3px solid black;
                    border-radius: 45px;
                    height: 45px;
                    width: 250px;
                    padding-left: 1.5%;
                    font-weight: bolder;
                    padding-top: .2rem;
                    display: inline;
                }

                .form-input:focus, .form-button:focus {
                    outline: none;
                }

                .form-button {
                    background: @text-color;
                    color: @gold-color;
                    font-family: 'franklin';
                    display: inline;
                    border: none;
                    font-size: 1.6rem;
                    height: 45px;
                    width: 150px;
                    border-radius: 45px;
                }
            }
        }

        .right-text {
            text-align: right;
            position: relative;

            img {
                position: absolute;
                top: 0;
                right: 0;
                width: 60%;
                height: auto;
                z-index: 2;
            }

            .pasion {
                margin-top: 5%;
                margin-right: 5%;
                position: relative;
                z-index: 2;
                padding-top: 5%;

                p {
                    margin-bottom: 0;
                    font-family: 'geomanis';
                    font-style: italic;
                    color: @white;
                    font-size: 3.5rem;
                    text-align: left;
                    line-height: 3rem;
                }

                span {
                    font-family: 'franklin';
                    color: @gold-color;
                    background: @text-color;
                    padding-right: 5%;
                    z-index: 0;
                    position: relative;
                    padding-left: 10px;
                }
            }
        }
    }
    .right-bar {
        background: url('../images/barra.png');
        background-color: @text-color;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

.footer {
    background: @gold-color;
    padding: 1rem .5rem;

    h4 {
        font-family: 'franklin';
        color: @text-color;
        font-size: 1.4rem;
        display: inline;
    }
    h5 {
        font-family: 'motserrat';
        color: @text-color;
        font-size: 1rem;
        display: inline;
    }

    .social-footer {
        text-align: right;
        a {
            color: @text-color;
            font-size: 1rem;
            border: 2px solid @text-color;
            border-radius: 100%;
            height: 30px;
            width: 30px;
            display: inline-block;
            text-align: center;
            padding-top: 0.30rem;
            font-weight: bold;
        }
    }
}

.footer-slide {
    white-space: no-wrap;
    overflow: hidden;
    display: block;
    padding-top: .3rem;

    .slide-text {
        white-space: nowrap;
        display: inline;
        width: auto;
    }
}